{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ]
  },
  "extends": [
    "react-app"
  ],
  "plugins": [
    "prettier"
  ],
  "overrides": [
    {
      "files": [
        "bin/**/*.js",
        "lib/**/*.js"
      ],
      "rules": {
        "no-console": 0,
        "no-process-exit": 0
      }
    }
  ]
}